@import 'nib'
// Colores 
amarillo 	= #f9ad00
azul 		= #0091d3
blanco 		= #ffffff
casi-negro 	= #393939
casi-blanco = #eeeeee
celeste  	= #186ea6
fondo 		= #061c2a
gris 		= #7c7c7c
negro 		= #171717
deep 		= #000000
rojo 		= #e40d0b
texto 		= #7c7c7c
verde 		= #95be20
verde-fondo = #74b248
violeta 	= #9f67ae
textBlue 	= #1565c0 

// Gobal
*	
	outline none 
	
// General

.btn-sm.btn-success.api
	margin-left 10px
	
#table_view_report
	width 100%
	tr
		td
			padding 0 5px 10px 5px	
			
.select_r
	color #76838f
	background-color #fff
	background-image none
	border 1px solid #e4eaec
	border-radius 3px				
	padding 6px 12px				
	width 100%

.table-report
	margin-top 25px !important
	
.form-date
	display block
	margin 0 auto
	max-width 500px

.show-crash
	background-color blanco
	box-shadow 5px 5px 20px rgba(0, 0, 0, .1)
	padding 20px 15px
	h2
		border-bottom 1px solid rgba(casi-negro,0.5)
		margin-bottom 25px
		text-align center
		span
			background-color blanco
			font-size 0.6em
			padding 0 5px
			relative top 12px left
	h3
		font-size 2em
		margin 0 0 20px 0
	p 
		span				
			&:nth-child(2)
				color red 
			&:nth-child(1)
				font-size 1.1em
				font-weight 400 

.lds-dual-ring
	display inline-block
	height 35px
	margin-left 10px
	vertical-align middle
	width 35px

.lds-dual-ring:after
	content " "
	display block
	width 30px
	height 30px
	margin 1px
	border-radius 50%
	border 3px solid #333333
	border-color #333333 transparent #333333 transparent
	animation lds-dual-ring 1.2s linear infinite

.filter-chart
	margin 0 auto
	max-width 340px	

@keyframes lds-dual-ring {
	0% {
		transform rotate(0deg)
	}
	100% {
		transform rotate(360deg)
	}
}